@using PersonalWebsite.Models;
@{
    var skills = new List<SkillModel>
    {
        new SkillModel {Name = "C#"},
        new SkillModel {Name = "SQL"},
        new SkillModel {Name = "ASP.Net Core"},
        new SkillModel {Name = "JavaScript"},
        new SkillModel {Name = "ReactJs"},
        new SkillModel {Name = "Entity Framework"},
        new SkillModel {Name = "HTML"},
        new SkillModel {Name = "CSS"},
        new SkillModel {Name = "Azure ServiceBus"},
        new SkillModel {Name = "Azure Functions"},
        new SkillModel {Name = "Azure CosmosDb"},
    };
    var educations = new List<ExperienceModel>
    {
        new ExperienceModel
        {
            CompanyName = "University of St. Cyril and Methodius, Skopje",
            Position = "Bachelor's degree, Internet and Mobile Technologies",
            Logo = "ukim.jpg",
            From = new DateTime(2007, 10, 1),
            To = new DateTime(2011, 12, 26)
        },
        new ExperienceModel
        {
            CompanyName = "Microsoft",
            Position = "MCSD: Web Applications",
            Logo = "microsoft.jpg",
            From = new DateTime(2017, 2, 1),
            To = new DateTime(2019, 2, 26)
        },
    };
    var languages = new List<SkillModel>
    {
        new SkillModel {Name = "Macedonian (native)"},
        new SkillModel {Name = "English (fluent)"},
        new SkillModel {Name = "Spanish (basic)"}
    };
}
<h2 class="skills">
    <span class="icon-skills"></span>
    Skills
</h2>
<div class="clearfix"></div>
<h3>Technologies</h3>
<div class="container-fluid skills mb-3">
    <div class="row">
        @foreach (var skill in skills)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                @skill.Name
            </div>
        }
    </div>
</div>
<h4>Education</h4>
<div class="container-fluid skills mb-3">
    <div class="row">
        @foreach (var education in educations)
        {
        <div class="col-12 col-md-6">
            <div class="photo-frame mr-2">
                <img src="~/images/logos/@education.Logo" alt="@education.CompanyName" />
            </div>
            <div class="education-text float-left">
                <div class="">
                    @education.Position
                </div>
                <div class="small-text mt-1">
                    @education.CompanyName
                </div>
                <div class="small-text">
                    @education.From.ToString("MMMM dd, yyyy") - @(education.To.HasValue ? education.To.Value.ToString("MMMM dd, yyyy") : "ongoing")
                </div>
            </div>
        </div>
        }
    </div>
</div>
<h4>Languages</h4>
<div class="container-fluid skills mb-3">
    <div class="row">
        @foreach (var language in languages)
        {
            <div class="col-12 col-lg-4 mb-2">
                @language.Name
            </div>
        }
    </div>
</div>